figure{
  border: 3px solid #ccc;
border-radius: 8px;
transition: box-shadow 0.3s ease;

box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
padding: 12px 15px;
margin: 0;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1px;
}